<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read</title>
</head>
<body><table border=5px>
    <head>
        <tr>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>MOBILE</th>
            <th>DELETE</th>
            <th>EDIT</th>
        </tr>
    </head>
    {%for x in data%}
    <body>
        <tr>

            <td>{{x.name}}</td>
            <td>{{x.email}}</td>
            <td>{{x.mobile}}</td>
            <td><a href="{% url 'delete' x.id %}">Delete</a></td>
            <td><a href="{% url 'edit' x.id %}">Edit</a></td>
        </tr>
    </body>
    {%endfor%}
</table>
<a href="{% url 'student' %}">Go to REgestration</a>
    
</body>
</html>